<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
</head>
<body>
<div class="container">
    <h2>Password Successfully Changed</h2>
    <p>Your password has been successfully changed. You can now <a href="http://localhost:4200/login">login</a>.</p>
</div>
</body>
</html>
